<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>注册页面</title>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css"/>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
</head>
<body>

<div id="login" style="width: 650px;margin: -300px 0 20px -325px;">
	<div id="login-header" >
		<div class="space"></div>
		<div class="login-img"></div>
	</div>

	<div id="login-content">
		<form action="" method="post">

			<table class="table table-responsive table-bordered text-left">
				<tbody>
					<tr>
						<td style="line-height: 30px; width: 200px;" class="text-right">门店名称：</td>
						<td><input type="text" name="shop_name" class="form-control input-md"></td>
						<td style="line-height: 30px; width: 60px;" class="text-center"><span class="label label-success">必填</span></td>
					</tr>
					<tr>
						<td style="line-height: 30px; width: 200px;" class="text-right">帐号：</td>
						<td><input type="text" name="account" class="form-control input-md"></td>
						<td style="line-height: 30px; width: 60px;" class="text-center"><span class="label label-success">必填</span></td>
					</tr>
					<tr>
						<td style="line-height: 30px;" class="text-right">密码：</td>
						<td><input type="text" name="password" class="form-control input-md"></td>
						<td style="line-height: 30px; width: 60px;" class="text-center"><span class="label label-success">必填</span></td>
					</tr>
		
					<tr>
						<td style="line-height: 30px; width: 200px;" class="text-right">负责人：</td>
						<td><input type="text" name="manager" class="form-control input-md"></td>
						<td style="line-height: 30px; width: 60px;" class="text-center"><span class="label label-success">必填</span></td>
					</tr>
					<tr>
						<td style="line-height: 30px; width: 200px;" class="text-right">联系电话：</td>
						<td><input type="text" name="mobile" class="form-control input-md"></td>
						<td style="line-height: 30px; width: 60px;" class="text-center"><span class="label label-success">必填</span></td>
					</tr>
					<tr>
						<td style="line-height: 30px; width: 200px;" class="text-right">地址：</td>
						<td><input type="text" name="address" class="form-control input-md"></td>
						<td style="line-height: 30px; width: 60px;" class="text-center"><span class="label label-success">必填</span></td>
					</tr>
					<tr>
						<td style="line-height: 30px; width: 200px;" class="text-right">营业执照图片：</td>
						<td><input type="text" name="business_license" class="form-control input-md"></td>
						<td style="line-height: 30px; width: 60px;" class="text-center"><span class="label label-success">必填</span></td>
					</tr>
				</tbody>
			</table>

			<div class="buttons">
				<button type="button" id="register" onclick="toLogin()">返回登录</button>
				<button type="button" id="button" onclick="doRegister(this)">确认注册</button>
			</div>
			<div class="space"></div>
		</form>
	</div>
</div>

<script type="text/javascript" src="__PUBLIC__/plugin/layer-v3.0.1/layer.js"></script>
<script>

function doRegister(that){
	$(that).attr('disabled', true);

	var data = {};
	data.shop_name = $.trim($('input[name=shop_name]').val());
	data.account = $.trim($('input[name=account]').val());
	data.password = $.trim($('input[name=password]').val());
	data.manager = $.trim($('input[name=manager]').val());
	data.mobile = $.trim($('input[name=mobile]').val());
	data.address = $.trim($('input[name=address]').val());
	data.business_license = $.trim($('input[name=business_license]').val());

	if(data.shop_name == ''){
		layer.msg('请输入门店名称！', {icon: 2});
		$(that).attr('disabled', false);
		return false;
	}
	if(data.account == ''){
		layer.msg('请输入帐号！', {icon: 2});
		$(that).attr('disabled', false);
		return false;
	}
	if(data.password == ''){
		layer.msg('请输入用户密码！', {icon: 2});
		$(that).attr('disabled', false);
		return false;
	}
	if(data.manager == ''){
		layer.msg('请输入门店负责人！', {icon: 2});
		$(that).attr('disabled', false);
		return false;
	}
	if(data.mobile == ''){
		layer.msg('请输入联系电话！', {icon: 2});
		$(that).attr('disabled', false);
		return false;
	}
	if(data.address == ''){
		layer.msg('请输入门店地址！', {icon: 2});
		$(that).attr('disabled', false);
		return false;
	}
	if(data.business_license == ''){
		layer.msg('请输入营业执照图片！', {icon: 2});
		$(that).attr('disabled', false);
		return false;
	}
	
	//添加商品
	$.ajax({
		url: "{:U('Login/doRegister')}",
		type: "post",
		data: data,
		dataType: 'json',
		success: function(json){
			$(that).attr('disabled', false);
			if(json.status == 0){
				layer.msg(json.message, {icon: 2});
				return false;
			}
			layer.msg(json.message, {icon: 1});
			setTimeout(function(){
				toLogin();
			}, 2000);
		}
	});
}

function toLogin() {
	var url = "{:U('Login/index')}";
	location.href = url;
}

</script>
	
</body>
</html>