<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8" />
<title>管理后台</title>
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/css/common.css" />

<block name="style">
</block>

</head>
<body>

<div class="container-fluid" style="margin-top:10px;">

    <block name="main-right">
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)">首页</a></li>
        </ol>
    </block>

</div>

<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/layer-v3.0.1/layer.js"></script>

<block name="javascript">
</block>

</script>
</body>
</html>