<extend name="./common" />

<block name="main-right">

	<!-- <ol class="breadcrumb">
		<li><a href="javascript:void(0)">首页</a></li>
		<li><a href="javascript:void(0)">门店管理</a></li>
		<li><a href="javascript:void(0)">门店列表</a></li>
	</ol> -->

	<form action="{:U('Shop/lists')}" name="search" method="get" class="form-inline">
		<div class="form-group">
			<input name="shop_name" class="form-control" id="shop_name" placeholder="门店名称" value="{$shop_name}">
		</div>
		&nbsp;&nbsp;
		<div class="form-group">
			<input name="account" class="form-control" id="account" placeholder="账号" value="{$account}">
		</div>
		&nbsp;&nbsp;
		<div class="form-group">
			<input name="mobile" class="form-control" id="mobile" placeholder="联系电话" value="{$mobile}">
		</div>
		&nbsp;&nbsp;
		<button type="submit" class="btn btn-primary">搜索</button>
		&nbsp;&nbsp;
		<a href="{:U('Shop/add')}" class="btn btn-default">添加门店</a>
	</form>

	<div style="margin-top:15px;"></div>

	<table class="table table-responsive table-bordered text-center table-hover">
		<thead>
			<tr>
				<th class="text-center" style="width:100px;">序号</th>
				<th class="text-center">门店名称</th>
				<th class="text-center">账号</th>
				<th class="text-center">负责人</th>
				<th class="text-center">联系电话</th>
				<th class="text-center">营业执照</th>
				<th class="text-center">状态</th>
				<th class="text-center" style="width:150px;">操作</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach($list as $key => $value): ?>
			<tr>
				<td>{$value['id']}</td>	
				<td>{$value['shop_name']}</td>	
				<td>{$value['account']}</td>
				<td>{$value['manager']}</td>	
				<td>{$value['mobile']}</td>
				<td>
					<img class="business_license" style="margin-top: 10px;cursor: pointer;" src="{$static}{$value['business_license']}" alt="" width="80" height="40">
				</td>
				<td>{$status_map[$value['status']]}</td>
				<td>
					<a href="{:U('Shop/edit', array('id'=>$value['id']))}" class="btn btn-success btn-sm">修改</a>
					&nbsp;&nbsp;
					<span onclick="delete_account({$value['id']})" class="btn btn-danger btn-sm">删除</span>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>

	{$page}

</block>

<block name="javascript">
<script type="text/javascript">

$('.business_license').click(function(){
	window.open($(this).attr('src'));
});

//删除物品
function delete_account(id){

	//询问框
	layer.confirm('您确认要删除此门店吗？', {
		btn: ['确定', '取消'] //按钮
	}, function () {

		layer.closeAll();
		if(id == ''){
			layer.msg('id获取失败！请刷新后重试！', {icon: 2});
			return false;
		}

		$.ajax({
			url: "{:U('Shop/delete')}",
			type: 'post',
			data: {
				id: id,
			},
			dataType: 'json',
			success: function(json){
				if(json.status == 0){
					layer.msg(json.message, {icon: 2});
					return false;
				}
				layer.msg(json.message, {icon: 1});
				setTimeout(function(){
					location.reload();
				}, 2000);
			}
		});
	},function(){

	});
}

</script>
</block>